header {
  color: orange;
  font-size: 40px;
  font-family: serif;
  text-align: right;
  margin-right: 250px;
  height: 45px;
}

.left {
  float: left;
  width: 70%;
  margin: auto;
}

.right {
  float: right;
  width: 30%;
  height: 650px;
  margin-top: 200px;
  font-size: 18px;
}


label{
  font-size: 30px;
}

input{
  width:200px;
  height:30px;
  font-size: 20px;
  border:0.1px solid rgb(141, 139, 139);
}

textarea{
  columns:50;
   rows:5;
  font-size: 20px;
  border:0.1px solid rgb(141, 139, 139);
}

.submitComment{
  width:100px;
  height:35px;
  border:0.1px solid rgb(141, 139, 139);
}

.homeLink{
  color:purple;
  font-size: 40px
}

.guestBook{
  color: orange;
  font-size: 40px;
  font-family: serif;
  text-align: right;
  margin-right: 650px;
  height: 100px;
}

.mainImage {
  width: 1000px;
  height: 620px;
  margin-left: 50px;
  border: 1px solid black;
}

.data_field{
  margin-left: 100px
}

.comments{
  font-size: 30px;
}